apiVersion: kubeadm.k8s.io/v1alpha2
kind: MasterConfiguration
api:
  advertiseAddress: $(get_mgmt_ip ${vnode})
apiServerExtraArgs:
  enable-admission-plugins: ${cluster_enable_admission}
networking:
  podSubnet: ${cluster_pod_cidr}
  $(render_service_cidr)
kubernetesVersion: ${cluster_version}
clusterName: ${cluster_name}
nodeRegistration:
  name: $(eval echo "\$nodes_${vnode}_hostname")
